.aboutVSB {
    text-align: center;
}

.vsbHeading {
    padding-top: 120px;
}

.vsbText {
    padding: 20px;
}


.teamText {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 3.7vh;
  }
  
   a:hover {
      text-decoration: none;
    }
  
    a {
      text-decoration: none;
    }
  
  .teamText:hover {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 3.8vh;
  }
  
  @keyframes glow {
      0% {
        color: white;
        text-shadow: 0 0 10px white;
      }
      50% {
        color: #eee;
        text-shadow: 0 0 20px #eee;
      }
      100% {
        color: white;
        text-shadow: 0 0 10px white;
      }
    }

@media screen and (max-width: 767px) {
    .aboutVSB {
        text-align: center;
    }
    
    .vsbHeading {
        padding-top: 50px;
    }
    
    .vsbText {
        padding: 20px;
    }
  }