.bmpui-ui-skin-modern .bmpui-ui-controlbar.bmpui-hidden {
  opacity: 1;
  visibility: visible;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  }

.buttonBox a {
  display: flex;
  display: relative;
  justify-content: center;
  align-items: center;
}

.purchaseButton,
.nextButton {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 20px;

}

.btnImage {
  width: 30vw;
}

.livepurchaseButton {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 10px !important;
  border-color: white;
  border: solid;
  width: 100%;
  max-height: 100vh;
  background-color: black;
  overflow: "hidden";
}


#error-message {
  padding: 20px 0 10px;
  text-align: center;
  color: #bb0000;
}

#error-message:empty {
  padding: 0;
}

#bitrate {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  height: 2rem;
}

.controls {
  margin: 20px 0 50px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.actions button {
  background: white;
  border: 1px solid #1b73e8;
  color: #1b73e8;

  height: 30px;
  width: 200px;
  margin-right: 5px;
}

.actions button.active {
  background: #1b73e8;
  color: white;
}

.actions button:hover {
  background: #1b7bff;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.input-container input,
.input-container textarea {
  width: 75rem;
  padding: 0 0.5rem;
  height: 3rem;
  font-family: monospace;
  border: 1px solid gray;
}

.input-container textarea {
  height: 20rem;
}

.vidWindow {
  justify-content: center;
  margin-left: 2000px;
}

.skipBtn {
  color: black;
  position: relative;
  float: right;
  margin-right: 150px;
  margin-top: 20px;
}

@media (max-width: 900px) {
    video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: 5px !important;
      border-color: white;
      border: solid;
      width: 100%;
      max-height: 100vh;
      background-color: black;
      box-shadow: 20px 20px #00000020;
    }

    .vidWindow {
      justify-content: center;
    }

    .buttonBox {
      margin-top: -40px;
      display: flex;
      flex-direction: row;
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      }
    
      .buttonBox a {
        display: flex;
        display: relative;
        justify-content: center;
        align-items: center;
      }
    
      .purchaseButton,
      .nextButton {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
      }

      .btnImage {
          width: 150px;
      }
    
}